@import './global/global.css';
@import './ultilidades/tipografia.css';
@import './ultilidades/cores.css';


@import './global/header.css';
@import './global/footer.css';

/* Utilitários */
@import './ultilidades/componentes.css';
@import './ultilidades/formulario.css';

/* Home */
@import './home/introducao.css';
@import './home/tecnologia.css';
@import './home/parceiros.css';
@import './home/depoimento.css';

/* Bicicletas */
@import './bicicletas-lista/bicicleta-lista.css';
@import './bicicletas-lista/bicicletas.css';

/* Bicicleta */
@import './bicicleta/bicicleta.css';
@import './bicicleta/seguro.css';

/* Seguros */
@import './seguros/seguros.css';
@import './seguros/vantagens.css';
@import './seguros/perguntas.css';

/* Contato */
@import './contato/contato.css';
@import './contato/loja.css';

/* Orçamento */
@import './orcamento/orcamento.css';

/* Termos */
@import './termos/termos.css';